## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
# print(g_key)

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [39]:
# 1. Import the WeatherPy_database.csv file. 
# Note: need to modify our Weather_data.ipynb to macth our starter code 
# change folder and file name in
city_data_df = pd.read_csv("../Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-07-25 02:53:50,42.6001,-73.9662,74.26,85,99,6.44
1,1,Sangmelima,CM,2022-07-25 02:53:51,2.9333,11.9833,67.35,99,99,3.00
2,2,Kaeo,NZ,2022-07-25 02:53:51,-35.1000,173.7833,63.32,97,100,20.92
3,3,Ushuaia,AR,2022-07-25 02:51:35,-54.8000,-68.3000,35.26,64,0,3.44
4,4,Terrace,CA,2022-07-25 02:53:52,54.5163,-128.6035,62.51,94,100,11.50

In [40]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Module 6.5.3 Get Vacation Criteria
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 85

In [42]:
city_data_df["Max Temp"] <= max_temp

0      True
1      True
2      True
3      True
4      True
       ...
214    True
215    True
216    True
217    True
218    True
Name: Max Temp, Length: 219, dtype: bool

In [43]:
# city_data_df["Max Temp"] >= min_temp
test_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)]
test_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-07-25 02:53:50,42.6001,-73.9662,74.26,85,99,6.44
1,1,Sangmelima,CM,2022-07-25 02:53:51,2.9333,11.9833,67.35,99,99,3.00
2,2,Kaeo,NZ,2022-07-25 02:53:51,-35.1000,173.7833,63.32,97,100,20.92
3,3,Ushuaia,AR,2022-07-25 02:51:35,-54.8000,-68.3000,35.26,64,0,3.44
4,4,Terrace,CA,2022-07-25 02:53:52,54.5163,-128.6035,62.51,94,100,11.50
...,...,...,...,...,...,...,...,...,...,...
214,214,Likasi,CD,2022-07-25 02:59:23,-10.9814,26.7333,54.63,60,2,4.05
215,215,Cabo San Lucas,MX,2022-07-25 02:58:38,22.8909,-109.9124,84.61,78,25,4.00
216,216,Esperance,AU,2022-07-25 02:59:24,-33.8667,121.9000,58.35,52,2,16.24
217,217,Mabaruma,GY,2022-07-25 02:59:24,8.2000,-59.7833,73.18,96,100,2.48
218,218,Nemuro,JP,2022-07-25 02:59:25,43.3236,145.5750,64.58,88,12,3.94

In [41]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.


# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Cockburn Town,TC,2022-07-25 02:50:51,21.4612,-71.1419,81.68,79,55,23.69
10,10,Casian,PH,2022-07-25 02:53:54,11.0350,119.7136,84.45,70,78,2.30
19,19,Kapaa,US,2022-07-25 02:51:55,22.0752,-159.3190,84.18,69,20,14.97
26,26,The Valley,AI,2022-07-25 02:50:02,18.2170,-63.0578,82.09,79,12,23.96
29,29,Butaritari,KI,2022-07-25 02:54:01,3.0707,172.7902,82.56,70,14,19.75
31,31,Edgewater,US,2022-07-25 02:54:02,28.9889,-80.9023,82.09,80,7,8.50
34,34,Nhulunbuy,AU,2022-07-25 02:54:03,-12.2333,136.7667,84.81,61,40,13.80
61,61,North Myrtle Beach,US,2022-07-25 02:55:15,33.8160,-78.6800,81.10,88,96,5.99
63,63,Hilo,US,2022-07-25 02:55:16,19.7297,-155.0900,84.27,74,75,9.22
64,64,Samarai,PG,2022-07-25 02:55:17,-10.6167,150.6667,79.86,82,59,15.03

In [44]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 6 to 215
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     37 non-null     int64
 1   City        37 non-null     object
 2   Country     37 non-null     object
 3   Date        37 non-null     object
 4   Lat         37 non-null     float64
 5   Lng         37 non-null     float64
 6   Max Temp    37 non-null     float64
 7   Humidity    37 non-null     int64
 8   Cloudiness  37 non-null     int64
 9   Wind Speed  37 non-null     float64
dtypes: float64(4), int64(3), object(3)
memory usage: 3.2+ KB

In [45]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Cockburn Town,TC,2022-07-25 02:50:51,21.4612,-71.1419,81.68,79,55,23.69
10,10,Casian,PH,2022-07-25 02:53:54,11.0350,119.7136,84.45,70,78,2.30
19,19,Kapaa,US,2022-07-25 02:51:55,22.0752,-159.3190,84.18,69,20,14.97
26,26,The Valley,AI,2022-07-25 02:50:02,18.2170,-63.0578,82.09,79,12,23.96
29,29,Butaritari,KI,2022-07-25 02:54:01,3.0707,172.7902,82.56,70,14,19.75
31,31,Edgewater,US,2022-07-25 02:54:02,28.9889,-80.9023,82.09,80,7,8.50
34,34,Nhulunbuy,AU,2022-07-25 02:54:03,-12.2333,136.7667,84.81,61,40,13.80
61,61,North Myrtle Beach,US,2022-07-25 02:55:15,33.8160,-78.6800,81.10,88,96,5.99
63,63,Hilo,US,2022-07-25 02:55:16,19.7297,-155.0900,84.27,74,75,9.22
64,64,Samarai,PG,2022-07-25 02:55:17,-10.6167,150.6667,79.86,82,59,15.03
69,69,Tucurui,BR,2022-07-25 02:55:19,-3.7661,-49.6725,78.87,53,81,2.53
74,74,Hailar,CN,2022-07-25 02:55:21,49.2000,119.7000,80.08,46,43,14.88
76,76,Mahishadal,IN,2022-07-25 02:55:22,22.1833,87.9833,81.21,85,100,11.81
78,78,Hithadhoo,MV,2022-07-25 02:55:23,-0.6000,73.0833,81.90,72,75,7.99
83,83,Islampur,IN,2022-07-25 02:55:25,26.2667,88.2000,79.77,86,89,9.55
87,87,Brigantine,US,2022-07-25 02:55:27,39.4101,-74.3646,81.19,89,92,18.52
88,88,Ponta Do Sol,PT,2022-07-25 02:56:28,32.6667,-17.1000,82.13,37,24,3.76
96,96,Praia,CV,2022-07-25 02:56:31,14.9215,-23.5087,79.11,83,100,13.22
100,100,Vung Tau,VN,2022-07-25 02:56:32,10.3460,107.0843,84.16,75,91,12.26
107,107,Kamaishi,JP,2022-07-25 02:51:47,39.2667,141.8833,80.06,71,40,2.89
108,108,Bocas Del Toro,PA,2022-07-25 02:55:37,9.3333,-82.2500,79.65,73,67,0.63
109,109,Kijang,KR,2022-07-25 02:56:36,35.2442,129.2139,83.93,84,24,5.30
118,118,Kavieng,PG,2022-07-25 02:56:40,-2.5744,150.7967,84.47,71,8,8.97
122,122,Sumenep,ID,2022-07-25 02:56:42,-7.0167,113.8667,80.96,60,20,14.52
135,135,Malaiba,PH,2022-07-25 02:56:47,10.3333,123.3167,84.49,72,78,3.18
136,136,Umm Lajj,SA,2022-07-25 02:57:47,25.0213,37.2685,81.72,86,85,13.47
141,141,Georgetown,MY,2022-07-25 02:57:19,5.4112,100.3354,84.88,82,20,1.14
144,144,Hamilton,US,2022-07-25 02:52:57,39.1834,-84.5333,80.40,90,40,11.50
148,148,Cayenne,GF,2022-07-25 02:57:53,4.9333,-52.3333,83.08,1,75,0.00
166,166,Bambanglipuro,ID,2022-07-25 02:58:00,-7.9500,110.2833,79.52,60,98,15.37
172,172,Mecca,SA,2022-07-25 02:58:02,21.4267,39.8261,84.33,63,75,13.73
194,194,Mount Isa,AU,2022-07-25 02:59:14,-20.7333,139.5000,83.97,24,0,6.91
198,198,Elizabeth City,US,2022-07-25 02:59:16,36.2946,-76.2511,82.42,86,0,4.00
203,203,Dillon,US,2022-07-25 02:56:49,34.4166,-79.3712,78.15,91,46,6.85
206,206,Luwuk,ID,2022-07-25 02:59:19,-0.9516,122.7875,84.72,61,93,6.44
212,212,Itarema,BR,2022-07-25 02:59:22,-2.9248,-39.9167,79.41,80,89,17.47
215,215,Cabo San Lucas,MX,2022-07-25 02:58:38,22.8909,-109.9124,84.61,78,25,4.00

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
6        Cockburn Town      TC     81.68  21.4612  -71.1419
10              Casian      PH     84.45  11.0350  119.7136
19               Kapaa      US     84.18  22.0752 -159.3190
26          The Valley      AI     82.09  18.2170  -63.0578
29          Butaritari      KI     82.56   3.0707  172.7902
31           Edgewater      US     82.09  28.9889  -80.9023
34           Nhulunbuy      AU     84.81 -12.2333  136.7667
61  North Myrtle Beach      US     81.10  33.8160  -78.6800
63                Hilo      US     84.27  19.7297 -155.0900
64             Samarai      PG     79.86 -10.6167  150.6667

In [68]:
# 6a. Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    Lat = row["Lat"]
    Lng = row["Lng"]
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

In [70]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Cockburn Town,TC,81.68,21.4612,-71.1419,Osprey Beach Hotel
10,Casian,PH,84.45,11.0350,119.7136,Osprey Beach Hotel
19,Kapaa,US,84.18,22.0752,-159.3190,Osprey Beach Hotel
26,The Valley,AI,82.09,18.2170,-63.0578,Osprey Beach Hotel
29,Butaritari,KI,82.56,3.0707,172.7902,Osprey Beach Hotel
31,Edgewater,US,82.09,28.9889,-80.9023,Osprey Beach Hotel
34,Nhulunbuy,AU,84.81,-12.2333,136.7667,Osprey Beach Hotel
61,North Myrtle Beach,US,81.10,33.8160,-78.6800,Osprey Beach Hotel
63,Hilo,US,84.27,19.7297,-155.0900,Osprey Beach Hotel
64,Samarai,PG,79.86,-10.6167,150.6667,Osprey Beach Hotel
69,Tucurui,BR,78.87,-3.7661,-49.6725,Osprey Beach Hotel
74,Hailar,CN,80.08,49.2000,119.7000,Osprey Beach Hotel
76,Mahishadal,IN,81.21,22.1833,87.9833,Osprey Beach Hotel
78,Hithadhoo,MV,81.90,-0.6000,73.0833,Osprey Beach Hotel
83,Islampur,IN,79.77,26.2667,88.2000,Osprey Beach Hotel
87,Brigantine,US,81.19,39.4101,-74.3646,Osprey Beach Hotel
88,Ponta Do Sol,PT,82.13,32.6667,-17.1000,Osprey Beach Hotel
96,Praia,CV,79.11,14.9215,-23.5087,Osprey Beach Hotel
100,Vung Tau,VN,84.16,10.3460,107.0843,Osprey Beach Hotel
107,Kamaishi,JP,80.06,39.2667,141.8833,Osprey Beach Hotel
108,Bocas Del Toro,PA,79.65,9.3333,-82.2500,Osprey Beach Hotel
109,Kijang,KR,83.93,35.2442,129.2139,Osprey Beach Hotel
118,Kavieng,PG,84.47,-2.5744,150.7967,Osprey Beach Hotel
122,Sumenep,ID,80.96,-7.0167,113.8667,Osprey Beach Hotel
135,Malaiba,PH,84.49,10.3333,123.3167,Osprey Beach Hotel
136,Umm Lajj,SA,81.72,25.0213,37.2685,Osprey Beach Hotel
141,Georgetown,MY,84.88,5.4112,100.3354,Osprey Beach Hotel
144,Hamilton,US,80.40,39.1834,-84.5333,Osprey Beach Hotel
148,Cayenne,GF,83.08,4.9333,-52.3333,Osprey Beach Hotel
166,Bambanglipuro,ID,79.52,-7.9500,110.2833,Osprey Beach Hotel
172,Mecca,SA,84.33,21.4267,39.8261,Osprey Beach Hotel
194,Mount Isa,AU,83.97,-20.7333,139.5000,Osprey Beach Hotel
198,Elizabeth City,US,82.42,36.2946,-76.2511,Osprey Beach Hotel
203,Dillon,US,78.15,34.4166,-79.3712,Osprey Beach Hotel
206,Luwuk,ID,84.72,-0.9516,122.7875,Osprey Beach Hotel
212,Itarema,BR,79.41,-2.9248,-39.9167,Osprey Beach Hotel
215,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Osprey Beach Hotel

In [90]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/City_ID.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [91]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# Note you will likely need to switch to jupyter notebook (using the help menu and selecting Launch Classic Notebook)

In [92]:
# check to get map working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))